body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 15px;
}

.form-container {
    display: flex;
}

.gen-button {
    flex: 1 30px;
    font-size: 1.5em;
    background: #387038;
    border: none;
    border-radius: 4px;
    color: white;
    margin: 5px;
    margin-left: 11px;
    padding: 13px;
}

.gen-button:hover,
.gen-button:active {
    background: darkcyan;
    color: wheat;
}

.gen-input {
    flex: 20;
    margin: auto;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #888888;
    font-size: 1.5em;
    text-align: center;
}

.qr-container {
    flex: 1;
    width: 100%;
    display: flex;
}

.qr-container > img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
}

.qr-code-title-text {
    text-align: center;
    padding: 25px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: rgb(80, 196, 201);
}
