body{
margin:0;
padding: 0;
}
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 15px;
}

.form-container {
    display: flex;
}

.gen-button {
    /*width: 8%;*/
    
    flex: 1 30px;
    font-size: 2em;
    height: 50px;
    background: #387038;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 5px;
}

.gen-input {
    flex: 20;
    margin: auto;
    font-size: 2em;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #888888;
}

.qr-container {
    flex: 1;
    width: 100%;
    display: flex;
}

.qr-container > img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
}

.qr-code-title-text {
    text-align: center;
    padding: 25px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: rgb(80, 196, 201);
}
